 <div class="container col- col-md-12 col-sm-12 col-xs-12">
    <div class="jumbotron text-center"><h2>Test Kairos API - Face Detect, Analysis </h2></div>
   
   <!-- form to upload image -->

    <div class="row">

<!-- new stuff 
        <div class="col">
          1 of 2
        </div>
        <div class="col">
          1 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
          1 of 3
        </div>
        <div class="col">
          1 of 3
        </div>
        <div class="col">
          1 of 3
        </div>
    </div>
  END new stuff -->

<div class="row">
      <div class="col-lg-5 text-center">
        <h4>Upload image URL(.jpeg)</h4>
        <form action="/" method="POST">
            <input type="text-area" id="imgURL" name="imgURL" required>
            <button id="btn">Click to generate data</button>
        </form>
        <br>
        <br>
        <br>
        <br>

        <p>Upload your image</p>
        
        <div class="row">
          <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data" action="/upload">
                <div class="col-lg-5"><input type="file" name="thumbnail" width="20%" required accept=".jpg,.png"></div>
                <div class="col-lg-4"><button type="submit">Upload</button></div>
            </form>
          </div>
            
            <div class="col-lg-4"><h4>{{message}}</h4></div>
            <div class="col-lg-6">
              <form method="post" enctype="multipart/form-data" action="/getdata">
                <div class="col-lg-4"><button type="submit">Click to generate data</button></div>
              </form>
            </div> 
        </div>
      </div>
    </div>
</div>